<section class="fanshop-section mb-10">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9">
        <div class="static-section__content">
          <div class="header-section">
            <h1 class="h1">Fanshop</h1>
          </div>
          <div class="o-content static-section__main pt-13">
            <div id="product-popup" class="popup">
              <img id="product-image" src="" alt="Изображение продукта" />
              <span id="close-popup" class="close-popup">Zavřít</span>
            </div>
            <div class="fanshop-section__inner">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <img
                          src="https://hclevbenesov.esports.cz/foto/2023_Fanshop-produkty/lev-benesov-triko.png"
                          alt="Triko HC LEV Benešov"
                        />
                        <strong>Triko HC LEV Benešov</strong>
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <strong>Triko HC LEV Benešov</strong>
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <img
                          src="https://hclevbenesov.esports.cz/foto/2023_Fanshop-produkty/lev-benesov-triko.png"
                          alt="Triko HC LEV Benešov"
                        />
                        <strong
                          >Triko HC LEV Benešov Triko HC LEV Benešov</strong
                        >
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <img
                          src="https://hclevbenesov.esports.cz/foto/2023_Fanshop-produkty/lev-benesov-triko.png"
                          alt="Triko HC LEV Benešov"
                        />
                        <strong>Triko HC LEV Benešov</strong>
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <img
                          src="https://hclevbenesov.esports.cz/foto/2023_Fanshop-produkty/lev-benesov-triko.png"
                          alt="Triko HC LEV Benešov"
                        />
                        <strong>Triko HC LEV Benešov</strong>
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <img
                          src="https://hclevbenesov.esports.cz/foto/2023_Fanshop-produkty/lev-benesov-triko.png"
                          alt="Triko HC LEV Benešov"
                        />
                        <strong>Triko HC LEV Benešov</strong>
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <img
                          src="https://hclevbenesov.esports.cz/foto/2023_Fanshop-produkty/lev-benesov-triko.png"
                          alt="Triko HC LEV Benešov"
                        />
                        <strong>Triko HC LEV Benešov</strong>
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                    <td>
                      <a href="#" class="fanshop-section__product">
                        <img
                          src="https://hclevbenesov.esports.cz/foto/2023_Fanshop-produkty/lev-benesov-triko.png"
                          alt="Triko HC LEV Benešov"
                        />
                        <strong>Triko HC LEV Benešov</strong>
                        <div class="fanshop-section__price">Cena: 449,- Kč</div>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
 
