.partners-slider {
  padding: 78px 0 80px;
  background-color: var(--color-light);
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-slide img {
    max-height: 88px;
    max-width: 100%;
    margin: 0 auto;
  }
  .slick-arrow {
    display: none;
  }
  &__item {
    img {
      max-height: 120px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
