<div class="partners-slider">
  <div class="container">
    <div
      class="row justify-content-center align-items-center partners-slider__inner"
    >
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners-slider__item" href="#">
          <img src="images/content/pp-1.png" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
