<section class="static-section">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9">
        <div class="static-section__content">
          <div class="header-section">
            <h1 class="h1">Podstránka</h1>
          </div>
          <div class="o-content static-section__main pt-13">
            <h3>Základní popis</h3>
            <div class="anotace">
              Již 5. ročník Sokolského běhu republiky přivítá sokoly i širokou
              veřejnost na největší běžecké oslavě 28. října. Poběží se na
              desítkách míst po celé republice i v zahraničí a vybere si každý -
              tak neváhejte, zaregistrujte se na svůj závod a nazdar na startu!
            </div>
            <h3>Běžecká tradice</h3>
            <p>
              Sokolskou běžeckou tradici si na říjnový státní svátek užijí jak
              dospělí na hlavním závodě se startem ve 14 hodin, tak děti na
              kratších trasách. Těšit se mohou sokolové i široká veřejnost,
              běžci profesionální i sváteční. Také letos totiž půjde hlavně o
              oslavu a o to užít si 28. října způsobem, jaký mají sokolové
              nejraději: pohybem!
            </p>
            <img src="images/content/g2.png" loading="lazy" alt="" />
            <h3>Jak správně běhat?</h3>
            <p>
              „Běhů je celá řada, ale dovolím si tvrdit, že u žádné jiné akce
              není tak těsné sepjetí s historií republiky," zve na Sokolský běh
              republiky starostka České obce sokolské Hana Moučková. „Atmosféra
              je neopakovatelná i tím, že všude jsou sokolské symboly s bohatou
              historií a běžet pod nimi je opravdový zážitek."
            </p>
            <h6>Sportem ku zdraví</h6>
            <ol>
              <li>Spočítejte si plochu, kterou chcete pokrýt valounky</li>
              <li>Přibližná spotřeba valounků je 75 kg/m2</li>
            </ol>
            <p>
              Doporučujeme kombinovat s kameny větších frakcí. Kameny je také
              možné naplnit fontány, akvária a gabiony. Dekoračními kameny Rosso
              Verona jsou vhodné jako luxusní dekorační prvek v exteriérech i
              interiérech.
            </p>

            <img
              class="img-content"
              src="images/content/g1.png"
              loading="lazy"
              alt=""
            />
            <p>
              Loni si atmosféru Sokolského běhu republiky užilo téměř 7 000
              běžců na 61 místech v České republice i v zahraničí. Letos si
              pořadatelé akce, která probíhá za podpory České obce sokolské,
              dali za cíl ji rozšířit na více než 70 míst za účasti alespoň 8
              000 běžců.
            </p>
            <p>
              Buďte mezi nimi i vy a připojte se k vybranému závodu! Nebudou
              chybět například Hluboká nad Vltavou, Telč nebo Kroměříž, v
              zahraničí třeba Curych nebo Brazílie. Seznam závodů najdete na
              webu projektu i na mapě níže - organizátoři ale stále přibývají.
            </p>

            <p>
              „Z tras od 3 do 10 km si vybere úplně každý. Společně proběhneme
              těmi nejkrásnějšími místy, co v Česku máme," říká vodní slalomář a
              jeden z ambasadorů Sokolského běhu republiky 2022 Lukáš Rohan.
              Mezi dalšími osobnostmi, se kterými se na oslavě 28. října pohybem
              můžete potkat, najdete paralympijského cyklistu Jiřího Ježka,.
            </p>
            <h6>Nadpis sokolů</h6>
            <ul>
              <li>
                Sokolskou běžeckou tradici si na říjnový státní svátek užijí jak
                dospělí.
              </li>
              <li>
                Na hlavním závodě se startem ve 14 hodin, tak děti na kratších
                trasách.
              </li>
              <li>
                Těšit se mohou sokolové i široká veřejnost, běžci profesionální
                i sváteční.
              </li>
              <li>
                Také letos totiž půjde hlavně o oslavu a o to užít si 28. října
                způsobem.
              </li>
              <li>Jaký mají sokolové nejraději: pohybem!</li>
            </ul>
            <h3>starostka České obce sokolské Hana Moučková</h3>
            <q>
              „Běhů je celá řada, ale dovolím si tvrdit, že u žádné jiné akce
              není tak těsné sepjetí s historií republiky,"
            </q>
            <h6>Sokolský běh republiky 2023. Registrace běžců spuštěna!</h6>
            <ol>
              <li>Spočítejte si plochu, kterou chcete pokrýt valounky</li>
              <li>Přibližná spotřeba valounků je 75 kg/m2</li>
            </ol>
            <h3>Tabulka</h3>
            <table>
              <thead>
                <tr>
                  <th>Firma</th>
                  <th>Jméno a příjmení</th>
                  <th>Datum a čas</th>
                  <th>Datum a čas</th>
                  <th class="text-right">E-mail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-3">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
