.player-section {
  &__top {
    position: relative;
  }
  &__info-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 52px;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    span {
      display: block;
      color: var(--color-primary);
      font-size: 32px;
      font-weight: 600;
      text-align: center;
    }
    li {
      color: var(--color-blue-10);
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      padding: 0 24px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 12px;
      }
    }
  }
  &__num {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--color-primary);
    font-size: 120px;
    font-weight: 700;
    line-height: 70%;
    padding: 0 16px;
    @include media-breakpoint-down(lg) {
      font-size: 80px;
      margin-bottom: 24px;
    }
  }
  &__name {
    display: flex;
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      text-align: center;
    }
    .h1 {
      color: var(--color-light);
      padding: 0 16px;
      span {
        display: block;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 8px;
      }
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 710/380;
    border-radius: 16px 0 0 0;
    overflow: hidden;
    @include media-breakpoint-down(xl) {
      border-radius: 16px 16px 0 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__info {
    background-color: var(--color-blue-160);
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0 16px 0 0;
    background-image: url("../images/ico/lev.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 505px 418px;
    @include media-breakpoint-down(xl) {
      background-size: contain;
      padding-top: 48px;
      border-radius: 0;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      z-index: 99999;
      top: 0;
      background-repeat: no-repeat;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-blue-160);
    padding-top: 38px;
    padding-left: 40px;
    padding-right: 40px;
    @include media-breakpoint-down(xl) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 70px;
    }
    span {
      color: var(--color-primary);
      font-size: 24px;
      font-weight: 400;
      display: block;
      margin-bottom: 12px;
    }
    li {
      color: var(--color-blue-10);
      font-weight: 600;
      font-size: 14px;
      line-height: 125%;
      margin-bottom: 38px;
      padding-left: 24px;
      padding-right: 24px;
      max-width: 20%;
      flex: 0 0 20%;
      white-space: nowrap;
      @include media-breakpoint-only(lg) {
        max-width: 33.333%;
        flex: 0 0 33.333%;
      }
      @include media-breakpoint-only(md) {
        max-width: 33.333%;
        flex: 0 0 33.333%;
      }
      @include media-breakpoint-down(md) {
        max-width: 50%;
        flex: 50%;
      }
    }
  }
  .article-section__content {
    padding: 64px 64px 40px;
    @include media-breakpoint-down(lg) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 32px;
    }
  }
  .no-style {
    li {
      list-style: none;
      padding-left: 0 !important;
      &::before {
        display: none;
      }
    }
  }
}

.player-btn {
  position: absolute;
  top: 50%;
  border-radius: 9.142857px;
  background-color: var(--color-blue-5);
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  svg {
    transition: all 0.3s;
  }
  &:hover {
    background-color: var(--color-secondary);
    svg g {
      stroke: var(--color-light);
    }
  }
}
.player-btnnext {
  right: 0;
  transform: translate(50%);
  @media (max-width: 1480px) {
    transform: translateY(50%);
    bottom: 0;
    top: auto;
  }
}
.player-btnprev {
  left: 0;
  transform: translate(-50%);
  @media (max-width: 1480px) {
    transform: translateY(50%);
    bottom: 0;
    top: auto;
  }
}
