<section class="player-section">
  <div class="container">
    <div class="player-section__top row g-0">
      <div class="col-xl-6">
        <div class="player-section__img">
          <img src="images/content/g1.png" loading="lazy" alt="logo" />
        </div>
      </div>
      <div class="col-xl-6">
        <div class="player-section__info">
          <div class="player-section__name">
            <div class="player-section__num">57</div>
            <h1 class="h1">
              <span>Daniel</span>
              Šlesinger
            </h1>
          </div>
          <ul class="player-section__info-list">
            <li><span>24</span>Věk</li>
            <li><span>12</span>Sezón v Benešově</li>
            <li><span>Obor</span>Pozice</li>
          </ul>
        </div>
      </div>
      <a href="#" class="player-btn player-btnnext">
        <?xml version="1.0" encoding="UTF-8"?><svg
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <title>ico 24 / home copy 4@3x</title>
          <g
            id="✅-ToCode"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <g
              id="Homepage-V3"
              transform="translate(-1610, -390)"
              stroke="#174F9B"
              stroke-width="2"
            >
              <g id="Group-6-Copy-4" transform="translate(1590, 370)">
                <g id="arrow-narrow-right" transform="translate(24, 26)">
                  <path
                    d="M0,6 L16,6 M16,6 L10,0 M16,6 L10,12"
                    id="Shape"
                  ></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </a>
      <a href="#" class="player-btn player-btnprev">
        <?xml version="1.0" encoding="UTF-8"?><svg
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <title>ico 24 / home copy 4@3x</title>
          <g
            id="✅-ToCode"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <g
              id="Homepage-V3"
              transform="translate(-286, -390)"
              stroke="#174F9B"
              stroke-width="2"
            >
              <g id="Group-6-Copy-2" transform="translate(266, 370)">
                <g
                  id="arrow-narrow-right"
                  transform="translate(32, 32) scale(-1, 1) translate(-32, -32)translate(24, 26)"
                >
                  <path
                    d="M0,6 L16,6 M16,6 L10,0 M16,6 L10,12"
                    id="Shape"
                  ></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <ul class="player-section__list">
      <li>
        <span> 17. 4. 1999 </span>
        Narozen
      </li>
      <li>
        <span> 181 cm </span>
        Výška
      </li>
      <li>
        <span> 76 kg </span>
        Váha
      </li>
      <li>
        <span> Levá </span>
        Hokejka
      </li>
      <li>
        <span>Česká republika </span>
        Země
      </li>
    </ul>
    <div class="article-section__content">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="o-content">
            <h3>Základní popis</h3>
            <ul class="no-style">
              <li><strong>Místo narození: </strong> Kroměříž</li>
              <li>
                <strong>Předchozí působiště: </strong>
                Berani Zlín (junioři), LHK Jestřábi Prostějov (střídavé starty
                2019/20), HC Zubr Přerov (střídavé starty 2016/17; 2020/21), AZ
                Heimstaden Havířov (střídavé starty 2021/22)
              </li>
            </ul>
            <p>
              Rodák z Kroměříže Daniel Huf je ve dvaadvaceti letech stále velkým
              brankářským příslibem do budoucna. Ve Zlíně hokejově vyrostl,
              první start za <strong>A-tým si připsal v září 2019.</strong> Jen
              o několik týdnů později vychytal také první čisté konto, když
              jednatřiceti zákroky pomohl k památnému vítězství 7:0 na ledě
              brněnské Komety . V sezóně 2020/21 odchytal 31 zápasů a spolu s
              Liborem Kašíkem tvoří v mužstvu Beranů stabilní brankářskou
              dvojici. <strong>Kromě Extraligy</strong> si vyzkoušel také nižší
              soutěže, zkušenosti příležitostně sbíral v dresech Prostějova,
              Přerova a Havířova.
            </p>

            <h3>Motto</h3>
            <q>
              „Teplý odstín drobných kamínků skvěle vynikne jako dekorační prvek
              okrasné zahrady, záhony a skalky, vysypání chodníků nebo
              ohraničení domu.“
            </q>

            <h3>Posledních 5 zápasů</h3>
            <table>
              <thead>
                <tr>
                  <th>Firma</th>
                  <th>Jméno a příjmení</th>
                  <th>Datum a čas</th>
                  <th>Datum a čas</th>
                  <th class="text-right">E-mail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Eluvia Service</td>
                  <td>Denis Heldák</td>
                  <td>24. 09. 2023, 14:01</td>
                  <td>Listopad</td>
                  <td class="text-right">
                    <a href="mailto:jakub.pospisil@seznam.cz">
                      jakub.pospisil@seznam.cz
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3 class="h3 mt-10 mb-3">Fotky</h3>
          <div class="gallery">
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="gallery__item">
              <a
                class="gallery__link"
                href="#"
                data-gallery="1"
                data-gallery-id="1"
              >
                <img
                  src="https://php.esports.cz/images/min.php?exact&amp;topcut&amp;w=1920&amp;h=630&amp;mtime=1667166963&amp;file=https://mountfieldhk.cz/foto_hkr/2022-2023_top_fotky_-_2022-2023/16_vitkovice_lev.jpg"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
