<section class="static-section">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9">
        <div class="static-section__content">
          <div class="header-section">
            <div class="header-section__inner">
              <h1 class="h1">Soupiska</h1>
              <div class="header-section__form ms-auto">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>Všechny</option>
                    <option value="tipsport">2020/21</option>
                    <option value="tipsport">2019/20</option>
                    <option value="tipsport">2018/19</option>
                    <option value="tipsport">2017/18</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <div class="static-section__main pt-13">
            <div class="team-section">
              <h2 class="h2 mb-6">Brankáři</h2>

              <div class="row">
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/default.png" alt="" />
                      <span>1</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Daniel KAŠÍK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="h2 mb-6">Obránci</h2>
              <div class="row mb-10">
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/default.png" alt="" />
                      <span>1</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Daniel KAŠÍK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/default.png" alt="" />
                      <span>1</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Daniel KAŠÍK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
              </div>
              <h2 class="h2 mb-6">Útočníci</h2>
              <div class="row mb-10">
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/default.png" alt="" />
                      <span>1</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Daniel KAŠÍK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/default.png" alt="" />
                      <span>1</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Daniel KAŠÍK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/default.png" alt="" />
                      <span>1</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Daniel KAŠÍK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <a class="team-section__img" href="#">
                      <img src="images/content/hrac-mini.png" alt="" />
                      <span>27</span>
                    </a>
                    <div class="team-section__info">
                      <a href="#">Michal KOŘÉNEK</a>
                      <p>22 let / 181 cm / 74 kg / L</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
