<aside class="aside">
  <div class="aside-box">
    <h3 class="h3">Kategorie</h3>
    <div class="o-content">
      <ul class="aside-menu">
        <li>
          <a href="#">Muži</a>
        </li>
        <li>
          <a href="#">Klub</a>
        </li>
        <li>
          <a href="#">Mládež</a>
        </li>
        <li>
          <a href="#">Partneři</a>
        </li>
        <li>
          <a class="active" href="#">Pro média</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hp-board__table mb-6">
    <h4 class="h3 mb-xl-8 mb-6">Tabulka ligy <span>po 24.kole</span></h4>
    <div class="o-content">
      <table>
        <tbody>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/3.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/logo-2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr class="lev">
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/ico/log.svg" alt="" />
            </td>
            <td class="team"><a href="#">HC Lev Benešov</a></td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/3.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/logo-2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/3.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/logo-2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr class="lev">
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/ico/log.svg" alt="" />
            </td>
            <td class="team"><a href="#">HC Lev Benešov</a></td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/3.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/logo-2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/3.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/logo-2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr class="lev">
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/ico/log.svg" alt="" />
            </td>
            <td class="team"><a href="#">HC Lev Benešov</a></td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/3.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
          <tr>
            <td class="num">1.</td>
            <td class="logo">
              <img src="images/content/club/logo-2.png" alt="" />
            </td>
            <td class="team">Slovan Bratislava</td>
            <td style="width: 50px">24</td>
            <td style="width: 80px">29:41</td>
            <td style="width: 50px">55</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a href="#" class="link link--yellow mb-10">Kompletní tabulka</a>
  <h3 class="h3 mb-4">Další články</h3>
  <div class="mb-10">{% include "@components/post/post_3.twig" %}</div>
  <div class="mb-10">{% include "@components/post/post_2.twig" %}</div>
  <div class="mb-10">{% include "@components/post/post.twig" %}</div>
</aside>
