<section class="juniors">
  <div class="container">
    <div class="juniors__wrapper">
      <div class="juniors__header">
        <h5 class="h2">Mládež</h5>
        <ul class="nav nav-tabs row g-1">
          <li class="col-auto">
            <a
              data-toggle="tab"
              data-category="jun"
              class="active"
              href="#jun-tab"
            >
              Junioři
            </a>
          </li>
          <li class="col-auto">
            <a data-toggle="tab" data-category="dorost" href="#dorost-tab">
              Dorost
            </a>
          </li>

          <li class="col-auto">
            <a data-toggle="tab" data-category="starsi" href="#starsi-tab">
              Starší žáci
            </a>
          </li>
          <li class="col-auto">
            <a data-toggle="tab" data-category="mladsi" href="#mladsi-tab">
              Mladší žáci
            </a>
          </li>
          <li class="col-auto">
            <a data-toggle="tab" data-category="trida" href="#trida-tab">
              4. 3. a 2. třída
            </a>
          </li>
        </ul>
        <a href="#" class="link link--dark">Všechny informace</a>
      </div>
      <div class="tab-content">
        <div class="tab-pane is active" id="jun-tab">
          <div class="row g-10">
            <div class="col-xl-4">
              <h6 class="tab-title mb-6">Zápasy</h6>
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Poruba </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                </div>
              </div>
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Poruba </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="hp-board__table">
                <h6 class="tab-title mb-6">Tabulky</h6>
                <div class="o-content">
                  <table>
                    <tbody>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/3.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/logo-2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr class="lev">
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/ico/log.svg" alt="" />
                        </td>
                        <td class="team"><a href="#">HC Poruba</a></td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/3.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/logo-2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="hp-board__table">
                <h6 class="tab-title mb-6">Statistiky</h6>
                <div class="o-content">
                  <table>
                    <tbody>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>4</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>13</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr class="lev">
                        <td class="num">1.</td>
                        <td>68</td>
                        <td class="team"><a href="#">HC Poruba</a></td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="dorost-tab">2</div>
        <div class="tab-pane fade" id="starsi-tab">3</div>
        <div class="tab-pane fade" id="mladsi-tab">
          <div class="row g-10">
            <div class="col-xl-4">
              <h6 class="tab-title mb-6">Zápasy</h6>
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/1.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Poruba </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result win"> 4:3 </a>
                  </div>
                </div>
              </div>
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Poruba </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="hp-board__table">
                <h6 class="tab-title mb-6">Tabulky</h6>
                <div class="o-content">
                  <table>
                    <tbody>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/3.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/logo-2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr class="lev">
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/ico/log.svg" alt="" />
                        </td>
                        <td class="team"><a href="#">HC Poruba</a></td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/3.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/logo-2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="hp-board__table">
                <h6 class="tab-title mb-6">Statistiky</h6>
                <div class="o-content">
                  <table>
                    <tbody>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>4</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>13</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr class="lev">
                        <td class="num">1.</td>
                        <td>68</td>
                        <td class="team"><a href="#">HC Poruba</a></td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="trida-tab">
          <div class="row g-10">
            <div class="col-xl-4">
              <h6 class="tab-title mb-6">Zápasy</h6>
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/2.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Poruba </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result lose"> 4:3 </a>
                  </div>
                </div>
              </div>
              <div class="scoreboard__item">
                <div class="scoreboard__img">
                  <img
                    src="images/content/club/3.png"
                    loading="lazy"
                    alt="logo"
                  />
                </div>
                <div class="scoreboard__content">
                  <div class="scoreboard__date">19. KOLO, Krajská liga</div>
                  <div class="scoreboard__info">
                    <div class="scoreboard__team">
                      <span> HC Poruba </span>
                      <span>HC Spartak Žebrák</span>
                    </div>
                    <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="hp-board__table">
                <h6 class="tab-title mb-6">Tabulky</h6>
                <div class="o-content">
                  <table>
                    <tbody>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/3.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/logo-2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr class="lev">
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/ico/log.svg" alt="" />
                        </td>
                        <td class="team"><a href="#">HC Poruba</a></td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/3.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td class="logo">
                          <img src="images/content/club/logo-2.png" alt="" />
                        </td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="hp-board__table">
                <h6 class="tab-title mb-6">Statistiky</h6>
                <div class="o-content">
                  <table>
                    <tbody>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>4</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>13</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr class="lev">
                        <td class="num">1.</td>
                        <td>68</td>
                        <td class="team"><a href="#">HC Poruba</a></td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                      <tr>
                        <td class="num">1.</td>
                        <td>37</td>
                        <td class="team">Slovan Bratislava</td>
                        <td style="width: 50px">24</td>
                        <td style="width: 80px">29:41</td>
                        <td style="width: 50px">55</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const tabLinks = document.querySelectorAll(".hp-tabs__header li a");

  for (const link of tabLinks) {
    link.addEventListener("click", (event) => {
      // event.preventDefault();
      const category = link.dataset.category;
      const url = `/inc/ajax-youth.php?category=${category}`;
      const tab = document.querySelector(`#${category}-tab`);

      fetch(url, { method: "GET" })
        .then((response) => response.text())
        .then((response) => (tab.innerHTML = response));
    });
  }
</script>
