.o-content {
  .anotace {
    margin-bottom: 32px;
  }
  .table-responsive + .table-responsive {
    margin-top: 32px !important;
  }
  td:nth-child(2) a {
    color: var(--color-blue-100);
    font-weight: 500;
  }
  .text-right {
    text-align: right;
  }
  h2 {
    margin-bottom: 24px;
    margin-top: 32px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 16px;
      margin-top: 28px;
    }
  }
  h4 {
    margin-top: 24px;
    padding-bottom: 16px;
  }
  q {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 40px;
    max-width: 740px;
    &::before {
      content: "";
      width: 4px;
      height: 100%;
      background-color: var(--color-red);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  ul {
    color: rgba(0, 17, 15, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 0 24px;
    > li {
      position: relative;
      padding-left: 24px;
      &::before {
        content: "";
        background-color: var(--color-red);
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  h6 {
    margin-bottom: 12px;
  }
  ol {
    color: rgba(0, 17, 15, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    margin-bottom: 32px;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 24px;
      &::before {
        content: counter(item) ".";
        color: var(--color-red);
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 39px;
    margin-bottom: 13px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }
  p a {
    display: block;
  }
  p {
    a + a {
      margin-top: 4px;
    }
  }
  table {
    margin-bottom: 32px;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 39px;
    border-radius: 4px;
  }
}

.h1,
.o-content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 135%;
  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 125%;
  }
}
.h2,
.o-content h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  @include media-breakpoint-down(lg) {
    font-size: 28px;
    line-height: 125%;
  }
}
.h3,
.o-content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: 125%;
  }
}
.h4,
.o-content h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
}
.h5,
.o-content h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
}
.h6,
.o-content h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
}

.anotace {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.img-content {
  width: auto !important;
  padding-right: 32px;
  float: left;
  aspect-ratio: 448/279 !important;
  @include media-breakpoint-down(lg) {
    float: none;
    max-width: 100%;
    width: 100% !important;
    padding-right: 0;
  }
}
.table > :not(:first-child) {
  border: none;
}
