.header-section {
  background-color: var(--color-blue-160);
  padding: 52px 60px 38px;
  border-radius: 16px 0 0 0;

  @include media-breakpoint-down(lg) {
    border-radius: 16px 16px 0 0;
    padding-bottom: 2rem;
  }
  @include media-breakpoint-only(md) {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include media-breakpoint-only(sm) {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
  &__filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--color-light);
    width: 100%;
    background-color: var(--color-blue-160);
    padding: 20px 0;
    .active {
      font-weight: 700;
      text-decoration: none;
    }
    a {
      padding: 0 8px;
    }
    li {
    }
  }
  &__submenu {
    margin: 40px auto;
  }

  h1 {
    color: var(--color-light);
    padding-right: 24px;
    @include media-breakpoint-down(xxl) {
      padding-right: 0;
      width: 100%;
    }
  }
  &__form {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 16px 0;
    @include media-breakpoint-down(xxl) {
      margin-left: 0;
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      align-items: start;
    }
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__label {
    display: block;
    margin-right: 16px;

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-right: 0;
    }
  }
  form {
    display: flex;
    align-items: center;
    gap: 16px 0;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      width: 100%;
    }
    input {
      width: 280px;
      margin-right: 16px;

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
      }
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
     
    }
  }

  .link {
    height: 42px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
