input {
  border: 2px solid var(--color-dark);
  padding: 0 16px;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-dark);
  height: 44px;
  font-weight: 500;
  border-radius: 4px;
  &::placeholder {
    text-transform: capitalize;
    color: var(--color-dark);
    font-weight: 500;
  }
  &:target,
  &:active,
  &:focus {
    outline-color: var(--color-light);
  }
}
