.table > :not(:first-child) {
  border: none;
}
.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 0;
  a {
    text-decoration-color: transparent;
    white-space: nowrap;
    &:hover {
      text-decoration-color: inherit;
    }
  }
}
