<section class="hp-board">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-8">
        <div class="row gx-5 gy-10 mb-9">
          <div class="col-md-6">
            {% include "@components/post/post_2.twig" %}
          </div>
          <div class="col-md-6">{% include "@components/post/post.twig" %}</div>
          <div class="col-md-6">{% include "@components/post/post.twig" %}</div>
          <div class="col-md-6">
            {% include "@components/post/post_3.twig" %}
          </div>
        </div>
        <a href="#" class="link link--yellow m-auto">Archiv článků</a>
      </div>
      <div class="col-xl-4">
        <div class="hp-board__table mb-6">
          <h4 class="h2 mb-xl-8 mb-6">Tabulka ligy <span>po 24.kole</span></h4>
          <div class="o-content">
            <table>
              <tbody>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/2.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/3.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/logo-2.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/2.png" alt="" />
                  </td>
                  <td class="team"><a href="#">Slovan Bratislava</a></td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/3.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/logo-2.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/2.png" alt="" />
                  </td>
                  <td class="team"><a href="#">Slovan Bratislava</a></td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/3.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/logo-2.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/2.png" alt="" />
                  </td>
                  <td class="team"><a href="#">Slovan Bratislava</a></td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/3.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">12.</td>
                  <td class="logo">
                    <img src="images/content/club/logo-2.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/2.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/3.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
                <tr>
                  <td class="num">1.</td>
                  <td class="logo">
                    <img src="images/content/club/logo-2.png" alt="" />
                  </td>
                  <td class="team">Slovan Bratislava</td>
                  <td style="width: 50px">24</td>
                  <td style="width: 80px">29:41</td>
                  <td style="width: 50px">55</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <a href="#" class="link link--yellow m-xl-0 m-auto"
          >Kompletní tabulka</a
        >
      </div>
    </div>
  </div>
</section>
