<section class="partners-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mb-10">
        <div class="partners-section__content">
          <div class="header-section">
            <h1 class="h1">Partneři</h1>
          </div>
          <div class="o-content static-section__main pt-13">
            <h3>Generální partneři</h3>
            <div class="row">
              <div class="col-12 col-md-4 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-2.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-12 col-md-4 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-1.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-12 col-md-4 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-3.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
            </div>
            <h3>Partneři</h3>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-3.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-6.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-2.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-1.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-5.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-4.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
            </div>
            <h3>Mediální partneři</h3>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-3.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-6.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-2.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-1.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-5.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-4.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-3.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-6.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-2.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-1.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-5.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-12 partners-section__row">
                <div class="box">
                  <a
                    rel="out"
                    href="#"
                    title="Město Hradec Králové"
                    target="blank"
                  >
                    <img
                      src="images/content/partner-4.png"
                      alt="Město Hradec Králové"
                      class=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
