<section class="photogallery-section">
  <div class="container">
    <div class="static-section__content">
      <div class="header-section">
        <div class="header-section__inner">
          <h1 class="h1">Fotogalerie</h1>
          <div class="header-section__form ms-auto">
            <label class="o-select header-section__label">
              <select class="js-select">
                <option>Všechny</option>
                <option value="tipsport">2020/21</option>
                <option value="tipsport">2019/20</option>
                <option value="tipsport">2018/19</option>
                <option value="tipsport">2017/18</option>
              </select>
            </label>
            <form class="g-5">
              <input placeholder="Hledaný text" type="text" />
              <button class="link link--blue">Hledat</button>
            </form>
          </div>
        </div>
      </div>
      <div class="static-section__main pt-13">
        <div class="photogallery-section__inner">
          <ul class="row gy-6 list-posts">
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/topstory.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g1.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g3.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/topstory.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g1.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g3.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/topstory.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g1.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g2.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g2.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/topstory.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g1.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g3.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/topstory.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g1.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g3.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/topstory.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g1.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g2.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
            <li class="col-sm-6 col-xxl-4">
              <a
                data-gallery="1"
                data-gallery-id="1"
                href="#"
                class="topstory__item"
              >
                <img src="images/content/g2.png" loading="lazy" alt="" />
                <div class="topstory__info">
                  <div class="link link--yellow m-auto">14. 8. 2023</div>
                  <h3 class="h3">5. kolo: HC Lev - HC Spartak</h3>
                </div>
              </a>
            </li>
          </ul>
          <button class="link link--yellow m-auto mt-10" id="loadMoreBtn">
            Načíst další
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
