<section class="static-section">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9 0">
        <div class="static-section__content">
          <div class="header-section">
            <div class="header-section__inner">
              <h1 class="h1">Tabulka 2022/23</h1>
              <div class="header-section__form ms-auto">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>Tabulka 2022/2023</option>
                    <option value="tipsport">2020/21</option>
                    <option value="tipsport">2019/20</option>
                    <option value="tipsport">2018/19</option>
                    <option value="tipsport">2017/18</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <div class="o-content static-section__main pt-13">
            <table>
              <thead>
                <tr>
                  <th><a href="#">P.</a></th>
                  <th class="logo"><a href="#">Tým</a></th>
                  <th><a href="#">Z</a></th>
                  <th><a href="#">V</a></th>
                  <th><a href="#">R</a></th>
                  <th><a href="#">P</a></th>
                  <th><a href="#">B</a></th>
                  <th><a href="#">Skóre</a></th>
                  <th><a href="#">RG</a></th>
                  <th><a href="#">+/-</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/2.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/3.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr class="lev">
                  <td>2.</td>
                  <td class="logo">
                    <img src="images/ico/log.svg" alt="" />
                    HC Lev Benešov
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td class="logo">
                    <img src="images/content/club/1.png" alt="" />
                    FC Zbrojovka Brno
                  </td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-3">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
