<section class="matches-section">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9">
        <div class="static-section__content">
          <div class="header-section">
            <div class="header-section__inner">
              <h1 class="h1">ZÁPASY</h1>
              <div class="header-section__form">
                <label class="o-select header-section__label">
                  <select class="js-select">
                    <option>Sezóna 2022/2023</option>
                    <option value="tipsport">2020/21</option>
                    <option value="tipsport">2019/20</option>
                    <option value="tipsport">2018/19</option>
                    <option value="tipsport">2017/18</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <ul class="header-section__filter">
            <li><a href="#" class="active">Vše </a> |</li>
            <li><a href="#">Pouze doma </a> |</li>
            <li>
              <a href="#">Pouze venku</a>
            </li>
          </ul>
          <div class="matches-section__inner">
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/3.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Poruba</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                  <li>
                    <a href="#" class="link link--blue">Vstupenky</a>
                  </li>
                </ul>
                <div class="matches-section__score">18:00</div>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Poruba</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                  <li>
                    <a href="#" class="link link--blue">Report</a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">3:0</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/content/logo.png" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/1.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Poruba</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                  <li>
                    <a href="#" class="link link--blue">Preview</a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score lose">3:5</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/ico/log.svg" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/3.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Lev Benešov</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                </ul>
                <div class="matches-section__score">18:00</div>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/ico/log.svg" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Lev Benešov</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <a href="#" class="matches-section__score win">3:0</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/ico/log.svg" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/3.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Lev Benešov</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                  <li>
                    <a href="#" class="link link--blue">Vstupenky</a>
                  </li>
                </ul>
                <div class="matches-section__score">18:00</div>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/ico/log.svg" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Lev Benešov</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                  <li>
                    <a href="#" class="link link--blue">Report</a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score win">3:0</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/ico/log.svg" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/1.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">9. KOLO, Krajská liga</div>
                <h3 class="h4">HC Lev Benešov</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                  <li>
                    <a href="#" class="link link--blue">Preview</a>
                  </li>
                </ul>
                <a href="#" class="matches-section__score lose">3:5</a>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/ico/log.svg" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/3.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">
                  PŘ1 / čtvrtek 10. 8. 2023 / 17:30
                </div>
                <h3 class="h4">HC Lev Benešov</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <ul class="matches-section__list">
                  <li>
                    <a href="#" class="link link--blue">Onlajn</a>
                  </li>
                </ul>
                <div class="matches-section__score">18:00</div>
              </div>
            </div>
            <div class="matches-section__item">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img src="images/ico/log.svg" alt="" />
                </div>
                <div class="matches-section__logo">
                  <img src="images/content/club/2.png" alt="" />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">
                  PŘ1 / čtvrtek 10. 8. 2023 / 17:30
                </div>
                <h3 class="h4">HC Lev Benešov</h3>
                <h3 class="h4">HC Spartak Žebrák</h3>
              </div>
              <div class="matches-section__links">
                <a href="#" class="matches-section__score win">3:0</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>
