.matches-section {
  &__inner {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
  }
  &__item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-blue-100);
    display: flex;
    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 28px;
      margin-bottom: 28px;
    }
  }
  &__info {
    padding: 0 16px;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
  &__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  &__logos {
    display: flex;
    align-items: center;
  }
  &__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include media-breakpoint-down(lg) {
      margin: 0;
      flex-wrap: wrap-reverse;
      width: 100%;
      justify-content: center;
    }
  }
  &__list {
    display: flex;
    li {
      padding: 0 8px;
    }
    .link {
      padding: 6px 12px;
      &:hover {
        border: 1px solid var(--color-blue-180);
      }
    }
  }
  &__score {
    font-size: 40px;
    font-weight: 600 !important;
    min-width: 140px;
    padding-left: 16px;
    text-align: right;
    @include media-breakpoint-down(lg) {
      width: 100%;
      text-align: center;
      margin-top: 16px;
      margin-bottom: 16px;
      padding-left: 0;
    }
  }
  &__logo {
    padding: 0 8px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 16px;
    }
    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      display: block;
      margin: auto;
    }
  }
}
a.matches-section__score {
  text-decoration-color: transparent;
  &:hover {
    text-decoration-color: inherit;
  }
}
