<section class="scoreboard">
  <div class="container">
    <div class="scoreboard__wrapper">
      <div class="scoreboard__header">
        <h2 class="h2">Zápasy</h2>
        <a href="#" class="link link--dark">Všechny zápasy</a>
      </div>
      <div class="scoreboard__inner d-flex flex-grow-1 js-scoreboard">
        <div class="scoreboard__box">
          <div class="scoreboard__item">
            <div class="scoreboard__img">
              <img src="images/content/club/1.png" loading="lazy" alt="logo" />
            </div>
            <div class="scoreboard__content">
              <div class="scoreboard__date">19. KOLO, Krajská liga</div>
              <div class="scoreboard__info">
                <div class="scoreboard__team">
                  <span> HC Poruba </span>
                  <span>HC Spartak Žebrák</span>
                </div>
                <a href="#" class="scoreboard__result win"> 4:3 </a>
              </div>
              <ul class="scoreboard__links">
                <li>
                  <a href="#" class="link link--blue">Report utkání</a>
                </li>
                <li>
                  <a href="#" class="link link--blue">Onlajn</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="scoreboard__box">
          <div class="scoreboard__item">
            <div class="scoreboard__img">
              <img src="images/content/club/3.png" loading="lazy" alt="logo" />
            </div>
            <div class="scoreboard__content">
              <div class="scoreboard__date">19. KOLO, Krajská liga</div>
              <div class="scoreboard__info">
                <div class="scoreboard__team">
                  <span> HC Poruba </span>
                  <span>HC Spartak Žebrák</span>
                </div>
                <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
              </div>
              <ul class="scoreboard__links">
                <li>
                  <a href="#" class="link link--blue">Preview</a>
                </li>
                <li>
                  <a href="#" class="link link--blue">Onlajn</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="scoreboard__box">
          <div class="scoreboard__item">
            <div class="scoreboard__img">
              <img src="images/content/club/2.png" loading="lazy" alt="logo" />
            </div>
            <div class="scoreboard__content">
              <div class="scoreboard__date">19. KOLO, Krajská liga</div>
              <div class="scoreboard__info">
                <div class="scoreboard__team">
                  <span> HC Poruba </span>
                  <span>HC Spartak Žebrák</span>
                </div>
                <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
              </div>
              <ul class="scoreboard__links">
                <li>
                  <a href="#" class="link link--blue">Onlajn</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="scoreboard__box">
          <div class="scoreboard__item">
            <div class="scoreboard__img">
              <img src="images/content/club/1.png" loading="lazy" alt="logo" />
            </div>
            <div class="scoreboard__content">
              <div class="scoreboard__date">19. KOLO, Krajská liga</div>
              <div class="scoreboard__info">
                <div class="scoreboard__team">
                  <span> HC Poruba </span>
                  <span>HC Spartak Žebrák</span>
                </div>
                <a href="#" class="scoreboard__result win"> 4:3 </a>
              </div>
              <ul class="scoreboard__links">
                <li>
                  <a href="#" class="link link--blue">Report utkání</a>
                </li>
                <li>
                  <a href="#" class="link link--blue">Onlajn</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="scoreboard__box">
          <div class="scoreboard__item">
            <div class="scoreboard__img">
              <img src="images/content/club/3.png" loading="lazy" alt="logo" />
            </div>
            <div class="scoreboard__content">
              <div class="scoreboard__date">19. KOLO, Krajská liga</div>
              <div class="scoreboard__info">
                <div class="scoreboard__team">
                  <span> HC Poruba </span>
                  <span>HC Spartak Žebrák</span>
                </div>
                <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
              </div>
              <ul class="scoreboard__links">
                <li>
                  <a href="#" class="link link--blue">Preview</a>
                </li>
                <li>
                  <a href="#" class="link link--blue">Onlajn</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="scoreboard__box">
          <div class="scoreboard__item">
            <div class="scoreboard__img">
              <img src="images/content/club/2.png" loading="lazy" alt="logo" />
            </div>
            <div class="scoreboard__content">
              <div class="scoreboard__date">19. KOLO, Krajská liga</div>
              <div class="scoreboard__info">
                <div class="scoreboard__team">
                  <span> HC Poruba </span>
                  <span>HC Spartak Žebrák</span>
                </div>
                <a href="#" class="scoreboard__result"> so 15. 4. 16:30 </a>
              </div>
              <ul class="scoreboard__links">
                <li>
                  <a href="#" class="link link--blue">Onlajn</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
