<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a class="footer__logo" href="#">
        <img src="images/content/logo.png" loading="lazy" alt="logo" />
        /></a
      >

      <ul class="footer__nav">
        <li>
          <a href="#">Klub</a>
        </li>
        <li>
          <a href="#">a - tým</a>
        </li>
        <li>
          <a href="#">B - tým</a>
        </li>
        <li>
          <a href="#">Ženy</a>
        </li>
        <li>
          <a href="#">Mládež</a>
        </li>
        <li>
          <a href="#">E - Sport</a>
        </li>
        <li>
          <a href="#">Partneři</a>
        </li>
        <li>
          <a href="#">Vstupenky</a>
        </li>
        <li>
          <a href="#">Fanoušci</a>
        </li>
      </ul>
      <div class="footer__bottom">
        {% include "@components/social/social-footer.twig" %}
        <ul class="footer__links">
          <li>
            <a href="#">Kontakty</a>
          </li>
          <li>
            <a href="#">Podmínky použití webu</a>
          </li>
          <li>
            <a href="#">Ochrana soukromí</a>
          </li>
        </ul>
        <button id="scrollToTopBtn">{% include "@images/up.svg" %}</button>
      </div>
      <div class="copyright">© , HC RT TORAX Poruba & eSports s.r.o.</div>
    </div>
  </div>
</footer>
