.post {
  text-decoration-color: transparent;
  &:hover {
    .post__img img {
      transform: scale(1.05);
    }
    h3 {
      text-decoration-color: var(--color-light);
    }
  }
  .link {
    position: absolute;
    left: 16px;
    bottom: 16px;
    padding: 6px 16px 8px;
    &:hover {
      color: var(--color-dark);
    }
  }
  &__img {
    border-radius: 4px;
    position: relative;
    width: 100%;
    aspect-ratio: 460/271;
    margin-bottom: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  &__date {
    color: var(--color-blue-140);
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: var(--color-light);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
    @include media-breakpoint-down(lg) {
      font-size: 20px;
      line-height: 125%;
    }
  }
}
