<a href="#" class="post" data-gallery="1" data-gallery-id="1">
  <div class="post__img">
    <img src="images/content/g3.png" loading="lazy" alt="logo" />
    <span class="link link--yellow"> Muži </span>
  </div>
  <div class="post__date">14. 10. 2023, 17:30</div>
  <h3>Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec</h3>
</a>
