<a href="#" class="post">
  <div class="post__img">
    <img src="images/content/topstory.jpeg" loading="lazy" alt="logo" />
    <span class="link link--blue"> Rozhovory </span>
  </div>
  <div class="post__date">14. 10. 2023, 17:30</div>
  <h3>Věřím, že zůstaneme pohromadě, přeje si kapitán David Starec</h3>
</a>
