<section class="topstory">
  <div class="container">
    <div class="topstory-slider">
      <a href="#" class="topstory__item">
        <picture class="topstory-imgContainer">
          <source
            media="(max-width: 576px)"
            srcset="images/content/topstory.png"
          />
          <source
            srcset="
              images/content/topstory.png 1x,
              images/content/topstory.png 1.5x,
              images/content/topstory.png 2x
            "
          />
          <img
            class="topstory-img"
            src="images/content/topstory.png"
            width="1158"
            height="628"
            alt=""
            loading="lazy"
          />
        </picture>
        <div class="topstory__info">
          <div class="link link--yellow m-auto">Mládež</div>
          <h1 class="h1">
            Páťáci pořáží Tábor vysokým rozdílem 5:1. Dvakrát se trefil
            Vaňousek.
          </h1>
          <div class="topstory__descr">Včera, Tomáš Vavřinec</div>
        </div>
      </a>
      <a href="#" class="topstory__item">
        <picture class="topstory-imgContainer">
          <source
            media="(max-width: 576px)"
            srcset="images/content/topstory.png"
          />
          <source
            srcset="
              images/content/topstory.png 1x,
              images/content/topstory.png 1.5x,
              images/content/topstory.png 2x
            "
          />
          <img
            class="topstory-img"
            src="images/content/topstory.png"
            width="1158"
            height="628"
            alt=""
            loading="lazy"
          />
        </picture>
        <div class="topstory__info">
          <div class="link link--yellow m-auto">Mládež</div>
          <h1 class="h1">
            Páťáci pořáží Tábor vysokým rozdílem 5:1. Dvakrát se trefil
            Vaňousek.
          </h1>
          <div class="topstory__descr">Včera, Tomáš Vavřinec</div>
        </div>
      </a>
      <a href="#" class="topstory__item">
        <picture class="topstory-imgContainer">
          <source
            media="(max-width: 576px)"
            srcset="images/content/topstory.jpeg"
          />
          <source
            srcset="
              images/content/topstory.jpeg 1x,
              images/content/topstory.jpeg 1.5x,
              images/content/topstory.jpeg 2x
            "
          />
          <img
            class="topstory-img"
            src="images/content/topstory.jpeg"
            width="1158"
            height="628"
            alt=""
            loading="lazy"
          />
        </picture>
        <div class="topstory__info">
          <div class="link link--yellow m-auto">Mládež</div>
          <h1 class="h1">
            Páťáci pořáží Tábor vysokým rozdílem 5:1. Dvakrát se trefil
            Vaňousek.
          </h1>
          <div class="topstory__descr">Včera, Tomáš Vavřinec</div>
        </div>
      </a>
    </div>
  </div>
</section>
