:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-green: #27853c;
  --color-yellow: #fdd715;

  --color-blue-180: #05101f;
  --color-blue-160: #09203e;
  --color-blue-140: #0e2f5d;
  --color-blue-100: #174f9b;
  --color-blue-60: #7495c3;
  --color-blue-20: #d1dceb;
  --color-blue-10: #e8eef5;
  --color-blue-5: #f3f6fa;

  --color-green: #27853c;

  --color-border: rgba(255, 255, 255, 0.116259);

  --color-red: #e20520;

  --color-primary: #be221d;
  --color-secondary: #21317c;
}
