{% extends "@components/base/base.twig" %} {% set title = "12.0_trainers" %} {%
block main %}
<section class="static-section">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9">
        <div class="static-section__content">
          <div class="header-section">
            <div class="header-section__inner">
              <h1 class="h1">Realizační tým</h1>
            </div>
          </div>
          <div class="static-section__main pt-13">
            <div class="team-section">
              <div class="row">
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>asistent trenéra</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img"></div>
                    <div class="team-section__info">
                      <div>Daniel KAŠÍK</div>
                      <p>hlavní trenér</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>vedoucí</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>asistent trenéra</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img"></div>
                    <div class="team-section__info">
                      <div>Daniel KAŠÍK</div>
                      <p>hlavní trenér</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>asistent trenéra</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img"></div>
                    <div class="team-section__info">
                      <div>Daniel KAŠÍK</div>
                      <p>hlavní trenér</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>vedoucí</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>asistent trenéra</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img"></div>
                    <div class="team-section__info">
                      <div>Daniel KAŠÍK</div>
                      <p>hlavní trenér</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>vedoucí</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="team-section__item">
                    <div class="team-section__img">
                      <img src="images/content/hrac-mini.png" alt="" />
                    </div>
                    <div class="team-section__info">
                      <div>Michal KOŘÉNEK</div>
                      <p>vedoucí</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
</section>

{% include "@components/juniors/juniors.twig" %} {% include
"@components/partners-slider/partners-slider.twig" %} {% endblock %}
