{% extends "@components/base/base.twig" %} {% set title = "15.0_about" %} {%
block main %}

<section class="static-section">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9">
        <div class="static-section__content">
          <div class="header-section">
            <h1 class="h1"></h1>
          </div>
          <div class="o-content static-section__main pt-13">
            <h2>Kontaktní údaje</h2>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item"><strong>Adresa:</strong></td>
                  <td>Čkalovova 6144/20<br />708 00 Ostrava - Poruba</td>
                  <td
                    rowspan="6"
                    style="text-align: center"
                    class="d-md-table-cell d-none"
                  >
                    <img src="https://hcporuba.esports.cz/znaky/por_500.gif" />
                  </td>
                </tr>
                <tr>
                  <td class="item">Telefon:</td>
                  <td>+420 596 977 222</td>
                </tr>
                <tr>
                  <td class="item">Denisa Ručková<br />(sekretář klubu)</td>
                  <td>+420 734 545 978</td>
                </tr>
                <tr>
                  <td class="item">Email:</td>
                  <td>
                    <a href="mailto:hokej@hcporuba.cz">hokej@hcporuba.cz</a>
                  </td>
                </tr>
                <tr>
                  <td class="item">
                    IČO HC RT TORAX Poruba, z.s. (Mládež):<br />IČO HC RT TORAX
                    Poruba 2011, z.s. (A-tým + junioři):
                  </td>
                  <td>70313288<br />22889833</td>
                </tr>
              </tbody>
            </table>
            <h2>Základní údaje</h2>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Rok založení:</td>
                  <td>
                    1932 – Poruba (tým neregistrován hokejovým svazem)<br />1946
                    - SK Poruba (tým registrován hokejovým svazem)
                  </td>
                </tr>
                <tr>
                  <td class="item">změny názvu:</td>
                  <td>
                    1948 – Sokol Poruba<br />
                    1954 – Tatran Poruba<br />
                    1960 – zánik oddílu<br />
                    1962 – Sokol Poruba<br />
                    1978 – TJ Hutní Montáže Ostrava - Poruba<br />
                    1994 – HK Poruba<br />
                    1999 – SHK Poruba<br />
                    2001 – HC SAREZA Ostrava<br />
                    2008 – HC VOKD Poruba<br />
                    2009 – zánik mužského oddílu<br />
                    2010 – HC RT TORAX Poruba - mládež<br />
                    2011 – HC RT TORAX Poruba 2011
                  </td>
                </tr>
                <tr>
                  <td class="item">Klubové barvy:</td>
                  <td>červená, bílá, modrá</td>
                </tr>
                <tr>
                  <td class="item">Kapacita stadionu:</td>
                  <td>4200 míst</td>
                </tr>
                <tr>
                  <td class="item">Největší úspěchy:</td>
                  <td>
                    1977, 1995 – postup do II. ligy<br />
                    2004 – postup do I. ligy<br />
                    2018 – vítěz II. ligy, postup do I. ligy<br />2021 –
                    vyřazovací boje I. ligy, 4. místo<br />2024 – vítěz základní
                    části I. ligy
                  </td>
                </tr>
              </tbody>
            </table>
            <script data-src="pen20252802" type="text/plain"></script>
            <h2>Logo ke stažení</h2>
            <p>
              Loga je zakázáno užívat pro komerční účely, pro výrobu
              propagačních a jiných marketingově zaměřených produktů bez
              předchozího souhlasu HC RT TORAX Poruba, z.s. či HC RT TORAX
              Poruba 2011, z.s.
            </p>
            <h4>Logo HC RT TORAX Poruba 2011 + HC RT TORAX Poruba</h4>
            <p>
              <a
                class="text-blue-100 fw-medium"
                href="https://hcporuba.cz/img/brand/hc_rt_torax_poruba_bila.pdf"
              >
                LOGO KE STAŽENÍ, BÍLÝ PODKLAD (PDF) (2,8MB)
              </a>
              <a
                class="text-blue-100 fw-medium"
                href="https://hcporuba.cz/img/brand/hc_rt_torax_poruba_cervena.pdf"
              >
                LOGO KE STAŽENÍ, ČERVENÝ PODKLAD (PDF) (2,8MB)
              </a>
            </p>
            <h4>Logo RT TORAX ARENA</h4>
            <p>
              <a
                class="text-blue-100 fw-medium"
                href="https://hcporuba.cz/img/brand/rt_torax_arena_bila.pdf"
                >LOGO KE STAŽENÍ, BÍLÝ PODKLAD (PDF)(0,23MB)
              </a>
              <a
                class="text-blue-100 fw-medium"
                href="https://hcporuba.cz/img/brand/rt_torax_arena_cervena.pdf"
              >
                LOGO KE STAŽENÍ, ČERVENÝ PODKLAD (PDF) (0,23MB)
              </a>
            </p>
            <div style="display: none"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <aside class="aside">
          <div class="aside-box">
            <h3 class="h3 text-uppercase">Kategorie</h3>
            <div class="o-content">
              <ul class="aside-menu">
                <li>
                  <a class="text-uppercase fw-bold" href="#">Muži</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold active" href="#">Klub</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold" href="#">Mládež</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold" href="#">Partneři</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold" href="#">Pro média</a>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="h3 mb-4">Další články</h3>
          <div class="mb-10">{% include "@components/post/post_3.twig" %}</div>
          <div class="mb-10">{% include "@components/post/post_2.twig" %}</div>
          <div class="mb-10">{% include "@components/post/post.twig" %}</div>
        </aside>
      </div>
    </div>
  </div>
</section>
{% include "@components/partners-slider/partners-slider.twig" %} {% endblock %}
