{% extends "@components/base/base.twig" %} {% set title = "16.0_staff" %} {%
block main %}

<section class="static-section">
  <div class="container">
    <div class="row gy-10">
      <div class="col-lg-9">
        <div class="static-section__content">
          <div class="header-section">
            <h1 class="h1"></h1>
          </div>
          <div class="o-content static-section__main pt-13">
            <h3>Vedoucí trenéři</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Vedoucí trenér SCM:</td>
                  <td>Tomáš Potěšil</td>
                </tr>
              </tbody>
            </table>
            <h3>Juniorka</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Miroslav Bahník</td>
                </tr>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Květoslav Foltýn</td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>René Chyla</td>
                </tr>
              </tbody>
            </table>
            <h3>Dorost</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Tomáš Potěšil</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td>Martin Tomášek</td>
                </tr>
                <tr>
                  <div style="display: none"></div>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Michal Opat<br /></td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Petr Planka<br /></td>
                </tr>
              </tbody>
            </table>
            <h3>9. třída</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Martin Tomášek</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td>Květoslav Foltýn</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td>Jan Pospíšil</td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Martin Macháč</td>
                </tr>
              </tbody>
            </table>
            <h3>8. třída</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Marián Kacíř</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td>Pavel Kubečka</td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Michal Opat</td>
                </tr>
              </tbody>
            </table>
            <h3>7. třída</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Jiří Trembáč</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td><br /></td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Martin Woznica</td>
                </tr>
              </tbody>
            </table>
            <h3>6. třída</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Marián Kacíř</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td><br /></td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Rostislav Ridl</td>
                </tr>
              </tbody>
            </table>
            <h3>5. třída</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Jiří Trembáč</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td>Miroslav Kusý</td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Karel Španihel</td>
                </tr>
                <tr>
                  <td class="item">Vedoucí týmu:</td>
                  <td>Martin Forro</td>
                </tr>
              </tbody>
            </table>
            <h3>4. třída</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Petr Rambousek</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td>Kamil Pohanka</td>
                </tr>
              </tbody>
            </table>
            <h3>3. třída</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Petr Rambousek</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td><br /></td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:</td>
                  <td><br /></td>
                </tr>
              </tbody>
            </table>
            <h3>Přípravka</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Miroslav Kusý</td>
                </tr>
                <tr>
                  <td class="item">Asistent trenéra:<br /></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h3>Trenér brankářů</h3>
            <table class="about-table">
              <tbody>
                <tr>
                  <td class="item">Hlavní trenér:</td>
                  <td>Dušan Šafránek</td>
                </tr>
              </tbody>
            </table>
            <script data-src="pen20252802" type="text/plain"></script>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <aside class="aside">
          <div class="aside-box">
            <h3 class="h3 text-uppercase">Kategorie</h3>
            <div class="o-content">
              <ul class="aside-menu">
                <li>
                  <a class="text-uppercase fw-bold" href="#">Muži</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold active" href="#">Klub</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold" href="#">Mládež</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold" href="#">Partneři</a>
                </li>
                <li>
                  <a class="text-uppercase fw-bold" href="#">Pro média</a>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="h3 mb-4">Další články</h3>
          <div class="mb-10">{% include "@components/post/post_3.twig" %}</div>
          <div class="mb-10">{% include "@components/post/post_2.twig" %}</div>
          <div class="mb-10">{% include "@components/post/post.twig" %}</div>
        </aside>
      </div>
    </div>
  </div>
</section>
{% include "@components/partners-slider/partners-slider.twig" %} {% endblock %}
