<section class="juniors-section">
  <div class="container">
    <div class="header-section">
      <h1 class="h1 mb-7">Mládež</h1>
      <div class="juniors-section__row row g-7 mb-10">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="juniors-section__item">
            <div class="o-content">
              <h3>Junioři</h3>
              <ul>
                <li><a href="#">Soupiska</a></li>
                <li>
                  <a href="#">Zápasy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="juniors-section__item">
            <div class="o-content">
              <h3>9. třída</h3>
              <ul>
                <li><a href="#">Soupiska</a></li>
                <li>
                  <a href="#">Zápasy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="juniors-section__item">
            <div class="o-content">
              <h3>3. třída</h3>
              <ul>
                <li><a href="#">Soupiska</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="juniors-section__item">
            <div class="o-content">
              <h3>Dorost</h3>
              <ul>
                <li><a href="#">Soupiska</a></li>
                <li>
                  <a href="#">Zápasy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="juniors-section__item">
            <div class="o-content">
              <h3>4. třída</h3>
              <ul>
                <li><a href="#">Soupiska</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="juniors-section__item">
            <div class="o-content">
              <h3>2. třída</h3>
              <ul>
                <li><a href="#">Soupiska</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="o-content">
        <h3 class="h3">Ostatní</h3>
        <ul class="row gx-10">
          <li class="col-auto">
            <a href="#">Kontakty</a>
          </li>
          <li class="col-auto">
            <a href="#">Trenéři</a>
          </li>
          <li class="col-auto">
            <a href="#">Informace pro rodiče</a>
          </li>
          <li class="col-auto">
            <a href="#">Memoriál</a>
          </li>
          <li class="col-auto">
            <a href="#">ZŠ Dr. Edvarda Beneše</a>
          </li>
          <li class="col-auto">
            <a href="#">Kurzy a nábory</a>
          </li>
          <li class="col-auto">
            <a href="#">Partneři</a>
          </li>
          <li class="col-auto">
            <a href="#">Akademie ČSLH</a>
          </li>
        </ul>
      </div>
    </div>
    <h2 class="h2 text-light mb-5">Články mládeže</h2>
    <ul class="row gx-5 gy-10 pb-5 list-posts">
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
      <li class="col-lg-4 col-sm-6">
        {% include "@components/post/post.twig" %}
      </li>
    </ul>
    <button class="link link--yellow m-auto mt-10" id="loadMoreBtn">
      Načíst další
    </button>
  </div>
</section>
